@import "mixins/mixins";

@include b(cell-container) {
    box-sizing: border-box;
    width: 100%;
}

.el-cell-auto-container {
  width: 100%;
  height: auto;
  overflow: hidden;
}

.el-cell-1-cols-container {
  width: 420px;
  overflow: hidden;
}

.el-cell-2-cols-container {
  width: 840px;
  overflow: hidden;
}

.el-cell-3-cols-container {
  width: 1260px;
  overflow: hidden;
}

.el-cell-4-cols-container {
  width: 1680px;
  overflow: hidden;
}
