@import "mixins/mixins";

@include b(cell-container) {
    box-sizing: border-box;
    width: 100%;
}

.el-cell-auto-container {
  width: 100%;
  height: auto;
  overflow: hidden;
}

.el-cell-1-cols-container {
  overflow: hidden;

  .el-cell-box-container {
    float: none;
  }
}

.el-cell-2-cols-container {
  width: 740px;
  overflow: hidden;
}

.el-cell-3-cols-container {
  width: 1110px;
  overflow: hidden;
}

.el-cell-4-cols-container {
  width: 1480px;
  overflow: hidden;
}
