@import "mixins/mixins";

@include b(cell) {
    box-sizing: border-box;
    min-width: 0;
}
.cell-container {
    width: 25%;
    display: inline-block;
    margin-bottom: 10px;
    .no-full {
        display: flex;
        justify-content: flex-start;
        flex-wrap: wrap;
        width: 100%;
        height: 32px;
        line-height: 32px;
        font-size: 14px;
        .cell-label-1 {
            word-wrap: break-word;
            word-break: break-all;
            flex:0 0 80px;
        }
        .cell-label-2 {
            word-wrap: break-word;
            word-break: break-all;
            flex:0 0 108px;
        }
        .cell-label-3 {
            word-wrap: break-word;
            word-break: break-all;
            flex:0 0 136px;
        }
        .cell-label-4 {
            word-wrap: break-word;
            word-break: break-all;
            flex:0 0 164px;
        }
        .cell-label-5 {
            word-wrap: break-word;
            word-break: break-all;
            flex:0 0 192px;
        }
        .cell-label-6 { 
            word-wrap: break-word;
            word-break: break-all;
            flex:0 0 220px;
        }
        .cell-label-7 {
            word-wrap: break-word;
            word-break: break-all;
            flex:0 0 248px;
        }
        .cell-label-8 {
            word-wrap: break-word;
            word-break: break-all;
            flex:0 0 276px;
        }
        .cell-label-9 {
            word-wrap: break-word;
            word-break: break-all;
            flex:0 0 304px;
        }
        .cell-value {
            flex: 1;
            padding-right: 20px;
            overflow: hidden;
            text-overflow:ellipsis;
            white-space: nowrap;
            font-size: 14px;
            min-width: 20px;
            
        }
        .cell-value .el-input {
            width: 100%;
        }
    }
}
.cell-container-full {
    width: 100%;
    margin-bottom: 10px;
    .cell-value-full {
        display: flex;
        justify-content: flex-start;
        flex-wrap: wrap;
        line-height: 32px;
        font-size: 14px; 
        .cell-label-full-1 {
            word-wrap: break-word;
            word-break: break-all;
            flex:0 0 80px;
        }
        .cell-label-full-2 {
            word-wrap: break-word;
            word-break: break-all;
            flex:0 0 108px;
        }
        .cell-label-full-3 {
            word-wrap: break-word;
            word-break: break-all;
            flex:0 0 136px;
        }
        .cell-label-full-4 {
            word-wrap: break-word;
            word-break: break-all;
            flex:0 0 164px;
        }
        .cell-label-full-5 {
            word-wrap: break-word;
            word-break: break-all;
            flex:0 0 192px;
        }
        .cell-label-full-6 {
            word-wrap: break-word;
            word-break: break-all;
            flex:0 0 220px;
        }
        .cell-label-full-7 {
            word-wrap: break-word;
            word-break: break-all;
            flex:0 0 248px;
        }
        .cell-label-full-8 {
            word-wrap: break-word;
            word-break: break-all;
            flex:0 0 276px;
        }
        .cell-label-full-9 {
            word-wrap: break-word;
            word-break: break-all;
            flex:0 0 304px;
        }
        .cell-value {
            flex: 1;
            // overflow: hidden;
            // text-overflow:ellipsis;
            // white-space: nowrap;
            font-size: 14px;
            // padding-right: 20px;
            min-width: 50px;
        }
        .cell-value .el-input {
            width: 100%;
            padding-right: 23px;
        }
        .full-value-width-1 {
            flex: 0 0 10%;
        }
        .full-value-width-2 {
            flex: 0 0 20%;
        }
        .full-value-width-3 {
            flex: 0 0 30%;
        }
        .full-value-width-4 {
            flex: 0 0 40%;
        }
        .full-value-width-5 {
            flex: 0 0 50%;
        }
        .full-value-width-6 { 
            flex: 0 0 60%;
        }
        .full-value-width-7 {
            flex: 0 0 70%;
        } 
        .full-value-width-8 {
            width: auto;
            padding-right: 23px;
           
        }
        
    }
}





