@import "mixins/mixins";

@include b(cell-box-container) {
    box-sizing: border-box;
    min-width: 0;
}

.el-cell-box-container {
    float: left;
    display: flex;
    position: relative;
    width: 350px;
    min-height: 32px;
    line-height: 32px;
    margin: 0 20px 0 0;
    // border: 1px solid blue;

    .box-title {
        padding: 0 10px;
        width: 80px;
        font-size: 13px;
        overflow: hidden;
        contain: size;
        // border: 1px solid red;
        .title-icon {
          vertical-align: middle;
          color: red;
        }
    }

    // large / medium / small / mini
    .box-title-mini {
      width: 80px;
    }

    .box-title-small {
      width: 100px;
    }

    .box-title-medium {
      width: 120px;
    }

    .box-title-large {
      width: 150px;
    }

    .box-title-left {
      text-align: left;
    }

    .box-title-center {
      text-align: center;
    }

    .box-title-right {
      text-align: right;
    }

    .box-content {
        flex: 1;
        font-size: 13px;
        overflow: hidden;
        
        .el-select {
          width: 100%;
        }
    }

    .box-error {
        position: absolute;
        right: 0;
        bottom: -22px;
        font-size: 12px;
        color: red;
        // border: 1px solid red;
    }

}

.el-cell-box-container.full {
  // width: calc(100% - 100px);
  width: 100%;
  // 这里需要动态计算出宽度，要看有多少列先出现，cell宽度*列数
}

// .el-cell-box-container .title.max {
//     width: 150px;
// }

.el-cell-box-container.el-cell-box-margin {
  margin: 0 20px 20px 0;
}



