@import "mixins/mixins";

@include b(data-container) {
  display: flex;
  flex-direction: column;
  flex: 1;
  flex-basis: auto;
  box-sizing: border-box;
  min-width: 0;
}

.operator-container {
  display: flex;
  margin: 20px 0 10px 0;

  .operator-container-item {
    margin-right: 15px;
  }
}

@include b(pagination) {
  text-align: right;
}
 
.data-table {
  width: 100%;
  font-size: 13px;

  thead tr th{
    font-family:MicrosoftYaHei;
    background-color: #F6F8FB;
    color: #999999;
    font-weight: 500;
  }
}
 

.text-align-right {
  text-align: right;
}

.el-date-editor.el-input, .el-date-editor.el-input__inner {
  width: 100%;
}

.el-data-container .el-select {
  width: 100%;
}

.el-data-container .el-cascader {
  width: 100%;
}

.el-data-container .el-date-editor {
  width: 100%;
}

.flex-auto-operator {
  display: flex;
  justify-content: flex-end;
}

.item-box {
  margin-bottom: 10px;
}

// search-container
.search-container {
  display: flex;

  .item-box {
    // width: 320px;
    // max-width: 300px;
  }
}

.item-box-field {
  display: flex;
  min-width: 250px;
  height: 32px;
  line-height: 32px;
  font-size: 13px;

  .item-box-field-title {
    padding-right: 5px;
    text-align: right;
    overflow: hidden;
  }

  .item-box-field-title-super {
    width: 240px;
  }

  .item-box-field-title-xlarge {
    width: 200px;
  }

  .item-box-field-title-large {
    width: 160px;
  }

  .item-box-field-title-medium {
    width: 120px;
  }

  .item-box-field-title-small {
    width: 80px;
  }


}

.pagination-container {
  margin-top: 20px;
}

