@import "mixins/mixins";

@include b(data-container) {
  display: flex;
  flex-direction: column;
  flex: 1;
  flex-basis: auto;
  box-sizing: border-box;
  min-width: 0;
}

.operator-container {
  margin: 20px 0 10px 0;
}

@include b(pagination) {
  text-align: right;
}
 
.data-table {
  width: 100%;
  font-size: 13px;

  thead tr th{
    font-family:MicrosoftYaHei;
    background-color: #E4E7ED;
    color: #999999;
  }
}
 

.text-align-right {
  text-align: right;
}

.el-date-editor.el-input, .el-date-editor.el-input__inner {
  width: 100%;
}

.el-data-container .el-select {
  width: 100%;
}

.flex-auto-operator {
  display: flex;
}

.item-box {
  margin-bottom: 10px;
}

// search-container
.search-container {
  display: flex;

  .item-box {
    width: 250px;
    // max-width: 300px;
  }
}

.pagination-container {
  margin-top: 20px;
}

