@import "mixins/mixins";
@import "common/var";

@include b(input-number) {
    box-sizing: border-box;
    position: relative;
    font-size: $--font-size-base;
    display: inline-block;
    width: 100%;
    // height: 32px;
    // border: 1px solid red;
}

.input-format-money-container {
    position: absolute;
    bottom: -20px;
    height: 20px;
    line-height: 20px;
    width: 100%;
    font-size: 12px;
    color: #ccc;
}

.input-number-unit {
    position: absolute;
    top: 0;
    right: 8px;
    font-size: 12px;
    color: #909399;
}